{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows Into Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Django Blog</title>
</head>

<body>
    <header>
        <div id="icon">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                {% include './icons/file-earmark-plus.svg' %}
                </a>
            {% endif %}
            <img src="{% static 'blog\media\46859_book_fall_follow_me_icon.png' %}" alt="home" />
            <h1>Django Blog</h1>
        </div>

    </header>
    {% block content %}
    {% endblock %}
</body>

</html>