<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_n_Post</title>
</head>
<body>
    <header>
        <h1>Django Blog</h1>

    </header>
    <article>
        <time><b>published: 14.06.2014, 12:14</b></time>
        <h2>Blog1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam dolorem rerum consequuntur quia sequi praesentium minus modi sapiente! Quaerat esse voluptatibus error molestias sunt incidunt non voluptas quos accusantium.</p>
    </article>

    <article>
        <time><b>published: 14.06.2014, 12:14</b></time>
        <h2>Blog2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam dolorem rerum consequuntur quia sequi praesentium minus modi sapiente! Quaerat esse voluptatibus error molestias sunt incidunt non voluptas quos accusantium.</p>
    </article>
</body>
</html>